{% extends "base.html" %}
{% block title %}نوشته ها{% endblock title %}

{% block app %}

<h1>{{post.title}}</h1>
<p>{{post.publish}}</p>
<p>{{post.body}}</p>

{% with comments.count as total_comments %}
<h2>{{total_comments}} comment {{total_comments|pluralize}}</h2>
{% endwith %}

<div>
    {% for comment in comments %}
        <div class="border border-dark m-2 py-2 px-4">
            <p>{{comment.name}} - {{comment.created}}</p>
            <p>{{comment.body | linebreaks}}</p>
        </div>
        {% empty %}
        <p>There are no comments</p>
        {% endfor %}
</div>

<div class="py-2 px-4">
    <form action="{% url "blog:post_comment" post.id %}" method="post">

        {{form.as_p}}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">ثبت نظر</button>
    </form>
</div>

{% endblock app %}