{% extends "base.html" %}
{% block title %}نوشته ها{% endblock title %}
{% block app %}

{% for post in posts %}

    <div class="card w-75 mb-3">
        <div class="card-body">
            <h3 class="card-title">
                <a href="{{post.get_absolute_url}}">
                    {{post.title}}
                </a>
            </h3>
        <p>{{post.publish}} by {{post.author}}</p>
        <p class="card-text">{{post.body|truncatewords:30|linebreaks}}</p>
        </div>
    </div>

{% endfor %}

{% include "pagination.html" with page=page_obj %}

{% endblock app %}