{% extends "base.html" %}
{% load blog_tags %}
{% block title %}هومن | {{post.title}}{% endblock title %}

{% block app %}

<h1>{{post.title}}</h1>
<p>{{post.publish}}</p>
<p>{{post.body | markdown}}</p>


<div class="row">
    <h3>نوشته های مشابه دیگر</h3>
    <ul>
    {% for post in similar_posts %}
    
        <li><a href="{{post.get_absolute_url}}">{{post.title}}</a></li>
        {% empty %}
        <p>نوشته مشابه ای یافت نشد !</p>
    {% endfor %}
    </ul>
</div>


{% with comments.count as total_comments %}
<h4>{{total_comments}} دیدگاه ثبت شده است </h4>
{% endwith %}

<div>
    {% for comment in comments %}
        <div class="border border-secondary my-2 rounded">
            <div class="d-flex justify-content-between bg-secondary text-white px-2 pt-2">
                <p>{{comment.name}}</p>
                <p>{{comment.created}}</p>
            </div>
            <div class="px-4">
                <p>{{comment.body | linebreaks}}</p>
            </div>
        </div>
        {% empty %}
        <p>شما اولین نفر برای ثبت دیدگاه این نوشته باشید!</p>
        {% endfor %}
</div>

<div class="bg-white py-2 px-4 mb-4">

    <form action="{% url "blog:post_comment" post.id %}" method="post" >
        {{form.as_p}}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">ثبت نظر</button>
    </form>

</div>

{% endblock app %}